@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136, 0.4);
    border-radius: none;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85, 0.4);
}